<% products.forEach(product => { %>
    <div>
        <img src=" <%=  product.thumbnail%>">
        <h4>

            <%=product.title %>

        </h4>
        <p>
            <%= product.description %>
        </p>
        <hr>
    </div>
    <% }) %>